2012/dataAccess/serviceReferences/ServiceReference1/DataLibs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/commonClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/commonClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dungvq/DataLibs.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="AppTypes.PriceDataType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="High" />
      <xs:enumeration value="Low" />
      <xs:enumeration value="Open" />
      <xs:enumeration value="Close" />
      <xs:enumeration value="Volume" />
      <xs:enumeration value="DateTime" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AppTypes.PriceDataType" nillable="true" type="tns:AppTypes.PriceDataType" />
  <xs:complexType name="TransactionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="availableCash" type="xs:decimal" />
      <xs:element minOccurs="0" name="portfolio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="priceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="priceRatio" type="xs:decimal" />
      <xs:element minOccurs="0" name="stockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transFeePerc" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionInfo" nillable="true" type="tns:TransactionInfo" />
  <xs:simpleType name="AppTypes.TimeRanges">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="W1" />
      <xs:enumeration value="W2" />
      <xs:enumeration value="W3" />
      <xs:enumeration value="M1" />
      <xs:enumeration value="M2" />
      <xs:enumeration value="M3" />
      <xs:enumeration value="M4" />
      <xs:enumeration value="M5" />
      <xs:enumeration value="M6" />
      <xs:enumeration value="YTD" />
      <xs:enumeration value="Y1" />
      <xs:enumeration value="Y2" />
      <xs:enumeration value="Y3" />
      <xs:enumeration value="Y4" />
      <xs:enumeration value="Y5" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AppTypes.TimeRanges" nillable="true" type="tns:AppTypes.TimeRanges" />
  <xs:complexType name="EstimateOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxBuyAmtPerc" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaxBuyQtyPerc" type="xs:decimal" />
      <xs:element minOccurs="0" name="QtyAccumulatePerc" type="xs:decimal" />
      <xs:element minOccurs="0" name="QtyReducePerc" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCapAmt" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstimateOptions" nillable="true" type="tns:EstimateOptions" />
  <xs:complexType name="ArrayOfTradePointInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TradePointInfo" nillable="true" type="tns:TradePointInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTradePointInfo" nillable="true" type="tns:ArrayOfTradePointInfo" />
  <xs:complexType name="TradePointInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessInfo" nillable="true" type="tns:BusinessInfo" />
      <xs:element minOccurs="0" name="DataIdx" type="xs:int" />
      <xs:element minOccurs="0" name="TradeAction" type="tns:AppTypes.TradeActions" />
      <xs:element minOccurs="0" name="isValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradePointInfo" nillable="true" type="tns:TradePointInfo" />
  <xs:complexType name="BusinessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LongTermTrend" type="tns:AppTypes.MarketTrend" />
      <xs:element minOccurs="0" name="MediumTermTrend" type="tns:AppTypes.MarketTrend" />
      <xs:element minOccurs="0" name="ShortTermTrend" type="tns:AppTypes.MarketTrend" />
      <xs:element minOccurs="0" name="Short_Resistance" type="xs:double" />
      <xs:element minOccurs="0" name="Short_Support" type="xs:double" />
      <xs:element minOccurs="0" name="Short_Target" type="xs:double" />
      <xs:element minOccurs="0" name="Stop_Loss" type="xs:double" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessInfo" nillable="true" type="tns:BusinessInfo" />
  <xs:simpleType name="AppTypes.MarketTrend">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Sidebar" />
      <xs:enumeration value="Upward" />
      <xs:enumeration value="Downward" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AppTypes.MarketTrend" nillable="true" type="tns:AppTypes.MarketTrend" />
  <xs:simpleType name="AppTypes.TradeActions">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Buy" />
      <xs:enumeration value="Sell" />
      <xs:enumeration value="Accumulate" />
      <xs:enumeration value="ClearAll" />
      <xs:enumeration value="Select" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AppTypes.TradeActions" nillable="true" type="tns:AppTypes.TradeActions" />
  <xs:simpleType name="AppTypes.SyslogTypes">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exception" />
      <xs:enumeration value="Access" />
      <xs:enumeration value="Others">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">255</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AppTypes.SyslogTypes" nillable="true" type="tns:AppTypes.SyslogTypes" />
  <xs:simpleType name="AppTypes.PortfolioTypes">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Portfolio">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WatchList">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SysWatchList">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PortfolioDefaultStrategy">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AppTypes.PortfolioTypes" nillable="true" type="tns:AppTypes.PortfolioTypes" />
  <xs:complexType name="ArrayOfAppTypes.PortfolioTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppTypes.PortfolioTypes" type="tns:AppTypes.PortfolioTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppTypes.PortfolioTypes" nillable="true" type="tns:ArrayOfAppTypes.PortfolioTypes" />
  <xs:simpleType name="AppTypes.CommonStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="New" />
      <xs:enumeration value="Enable" />
      <xs:enumeration value="Disable">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Close">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ignore">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="All">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">255</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AppTypes.CommonStatus" nillable="true" type="tns:AppTypes.CommonStatus" />
</xs:schema>