trunk/2015/import/Service References/clientSSI/AjaxWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ssi.com.vn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ssi.com.vn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ssi.com.vn/">
      <s:element name="GetDataHoSTC2">
        <s:complexType />
      </s:element>
      <s:element name="GetDataHoSTC2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataHoSTC2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataHoSTC2_Index">
        <s:complexType />
      </s:element>
      <s:element name="GetDataHoSTC2_IndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataHoSTC2_IndexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataHaSTC2">
        <s:complexType />
      </s:element>
      <s:element name="GetDataHaSTC2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataHaSTC2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataHaSTC2_Index">
        <s:complexType />
      </s:element>
      <s:element name="GetDataHaSTC2_IndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataHaSTC2_IndexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockListHo">
        <s:complexType />
      </s:element>
      <s:element name="GetStockListHoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockListHoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockListHa">
        <s:complexType />
      </s:element>
      <s:element name="GetStockListHaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockListHaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomStockList">
        <s:complexType />
      </s:element>
      <s:element name="GetUpcomStockListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpcomStockListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomIndex">
        <s:complexType />
      </s:element>
      <s:element name="GetUpcomIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpcomIndexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomPrice">
        <s:complexType />
      </s:element>
      <s:element name="GetUpcomPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpcomPriceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomPriorPrice">
        <s:complexType />
      </s:element>
      <s:element name="GetUpcomPriorPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpcomPriorPriceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBondOutRightMarket">
        <s:complexType />
      </s:element>
      <s:element name="GetBondOutRightMarketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBondOutRightMarketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBondReposMarket">
        <s:complexType />
      </s:element>
      <s:element name="GetBondReposMarketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBondReposMarketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBondOutRight">
        <s:complexType />
      </s:element>
      <s:element name="GetBondOutRightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBondOutRightResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBondRepos">
        <s:complexType />
      </s:element>
      <s:element name="GetBondReposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBondReposResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBondStockList">
        <s:complexType />
      </s:element>
      <s:element name="GetBondStockListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBondStockListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataHoSTC2SoapIn">
    <wsdl:part name="parameters" element="tns:GetDataHoSTC2" />
  </wsdl:message>
  <wsdl:message name="GetDataHoSTC2SoapOut">
    <wsdl:part name="parameters" element="tns:GetDataHoSTC2Response" />
  </wsdl:message>
  <wsdl:message name="GetDataHoSTC2_IndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataHoSTC2_Index" />
  </wsdl:message>
  <wsdl:message name="GetDataHoSTC2_IndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataHoSTC2_IndexResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataHaSTC2SoapIn">
    <wsdl:part name="parameters" element="tns:GetDataHaSTC2" />
  </wsdl:message>
  <wsdl:message name="GetDataHaSTC2SoapOut">
    <wsdl:part name="parameters" element="tns:GetDataHaSTC2Response" />
  </wsdl:message>
  <wsdl:message name="GetDataHaSTC2_IndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataHaSTC2_Index" />
  </wsdl:message>
  <wsdl:message name="GetDataHaSTC2_IndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataHaSTC2_IndexResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockListHoSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockListHo" />
  </wsdl:message>
  <wsdl:message name="GetStockListHoSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockListHoResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockListHaSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockListHa" />
  </wsdl:message>
  <wsdl:message name="GetStockListHaSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockListHaResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpcomStockList" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpcomStockListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpcomIndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpcomIndex" />
  </wsdl:message>
  <wsdl:message name="GetUpcomIndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpcomIndexResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpcomPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpcomPrice" />
  </wsdl:message>
  <wsdl:message name="GetUpcomPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpcomPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpcomPriorPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpcomPriorPrice" />
  </wsdl:message>
  <wsdl:message name="GetUpcomPriorPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpcomPriorPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetBondOutRightMarketSoapIn">
    <wsdl:part name="parameters" element="tns:GetBondOutRightMarket" />
  </wsdl:message>
  <wsdl:message name="GetBondOutRightMarketSoapOut">
    <wsdl:part name="parameters" element="tns:GetBondOutRightMarketResponse" />
  </wsdl:message>
  <wsdl:message name="GetBondReposMarketSoapIn">
    <wsdl:part name="parameters" element="tns:GetBondReposMarket" />
  </wsdl:message>
  <wsdl:message name="GetBondReposMarketSoapOut">
    <wsdl:part name="parameters" element="tns:GetBondReposMarketResponse" />
  </wsdl:message>
  <wsdl:message name="GetBondOutRightSoapIn">
    <wsdl:part name="parameters" element="tns:GetBondOutRight" />
  </wsdl:message>
  <wsdl:message name="GetBondOutRightSoapOut">
    <wsdl:part name="parameters" element="tns:GetBondOutRightResponse" />
  </wsdl:message>
  <wsdl:message name="GetBondReposSoapIn">
    <wsdl:part name="parameters" element="tns:GetBondRepos" />
  </wsdl:message>
  <wsdl:message name="GetBondReposSoapOut">
    <wsdl:part name="parameters" element="tns:GetBondReposResponse" />
  </wsdl:message>
  <wsdl:message name="GetBondStockListSoapIn">
    <wsdl:part name="parameters" element="tns:GetBondStockList" />
  </wsdl:message>
  <wsdl:message name="GetBondStockListSoapOut">
    <wsdl:part name="parameters" element="tns:GetBondStockListResponse" />
  </wsdl:message>
  <wsdl:portType name="AjaxWebServiceSoap">
    <wsdl:operation name="GetDataHoSTC2">
      <wsdl:input message="tns:GetDataHoSTC2SoapIn" />
      <wsdl:output message="tns:GetDataHoSTC2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataHoSTC2_Index">
      <wsdl:input message="tns:GetDataHoSTC2_IndexSoapIn" />
      <wsdl:output message="tns:GetDataHoSTC2_IndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataHaSTC2">
      <wsdl:input message="tns:GetDataHaSTC2SoapIn" />
      <wsdl:output message="tns:GetDataHaSTC2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataHaSTC2_Index">
      <wsdl:input message="tns:GetDataHaSTC2_IndexSoapIn" />
      <wsdl:output message="tns:GetDataHaSTC2_IndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockListHo">
      <wsdl:input message="tns:GetStockListHoSoapIn" />
      <wsdl:output message="tns:GetStockListHoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockListHa">
      <wsdl:input message="tns:GetStockListHaSoapIn" />
      <wsdl:output message="tns:GetStockListHaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockList">
      <wsdl:input message="tns:GetUpcomStockListSoapIn" />
      <wsdl:output message="tns:GetUpcomStockListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndex">
      <wsdl:input message="tns:GetUpcomIndexSoapIn" />
      <wsdl:output message="tns:GetUpcomIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomPrice">
      <wsdl:input message="tns:GetUpcomPriceSoapIn" />
      <wsdl:output message="tns:GetUpcomPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomPriorPrice">
      <wsdl:input message="tns:GetUpcomPriorPriceSoapIn" />
      <wsdl:output message="tns:GetUpcomPriorPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBondOutRightMarket">
      <wsdl:input message="tns:GetBondOutRightMarketSoapIn" />
      <wsdl:output message="tns:GetBondOutRightMarketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBondReposMarket">
      <wsdl:input message="tns:GetBondReposMarketSoapIn" />
      <wsdl:output message="tns:GetBondReposMarketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBondOutRight">
      <wsdl:input message="tns:GetBondOutRightSoapIn" />
      <wsdl:output message="tns:GetBondOutRightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBondRepos">
      <wsdl:input message="tns:GetBondReposSoapIn" />
      <wsdl:output message="tns:GetBondReposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBondStockList">
      <wsdl:input message="tns:GetBondStockListSoapIn" />
      <wsdl:output message="tns:GetBondStockListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AjaxWebServiceSoap" type="tns:AjaxWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataHoSTC2">
      <soap:operation soapAction="http://ssi.com.vn/GetDataHoSTC2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHoSTC2_Index">
      <soap:operation soapAction="http://ssi.com.vn/GetDataHoSTC2_Index" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHaSTC2">
      <soap:operation soapAction="http://ssi.com.vn/GetDataHaSTC2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHaSTC2_Index">
      <soap:operation soapAction="http://ssi.com.vn/GetDataHaSTC2_Index" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockListHo">
      <soap:operation soapAction="http://ssi.com.vn/GetStockListHo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockListHa">
      <soap:operation soapAction="http://ssi.com.vn/GetStockListHa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockList">
      <soap:operation soapAction="http://ssi.com.vn/GetUpcomStockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndex">
      <soap:operation soapAction="http://ssi.com.vn/GetUpcomIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomPrice">
      <soap:operation soapAction="http://ssi.com.vn/GetUpcomPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomPriorPrice">
      <soap:operation soapAction="http://ssi.com.vn/GetUpcomPriorPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondOutRightMarket">
      <soap:operation soapAction="http://ssi.com.vn/GetBondOutRightMarket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondReposMarket">
      <soap:operation soapAction="http://ssi.com.vn/GetBondReposMarket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondOutRight">
      <soap:operation soapAction="http://ssi.com.vn/GetBondOutRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondRepos">
      <soap:operation soapAction="http://ssi.com.vn/GetBondRepos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondStockList">
      <soap:operation soapAction="http://ssi.com.vn/GetBondStockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AjaxWebServiceSoap12" type="tns:AjaxWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataHoSTC2">
      <soap12:operation soapAction="http://ssi.com.vn/GetDataHoSTC2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHoSTC2_Index">
      <soap12:operation soapAction="http://ssi.com.vn/GetDataHoSTC2_Index" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHaSTC2">
      <soap12:operation soapAction="http://ssi.com.vn/GetDataHaSTC2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHaSTC2_Index">
      <soap12:operation soapAction="http://ssi.com.vn/GetDataHaSTC2_Index" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockListHo">
      <soap12:operation soapAction="http://ssi.com.vn/GetStockListHo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockListHa">
      <soap12:operation soapAction="http://ssi.com.vn/GetStockListHa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockList">
      <soap12:operation soapAction="http://ssi.com.vn/GetUpcomStockList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndex">
      <soap12:operation soapAction="http://ssi.com.vn/GetUpcomIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomPrice">
      <soap12:operation soapAction="http://ssi.com.vn/GetUpcomPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomPriorPrice">
      <soap12:operation soapAction="http://ssi.com.vn/GetUpcomPriorPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondOutRightMarket">
      <soap12:operation soapAction="http://ssi.com.vn/GetBondOutRightMarket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondReposMarket">
      <soap12:operation soapAction="http://ssi.com.vn/GetBondReposMarket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondOutRight">
      <soap12:operation soapAction="http://ssi.com.vn/GetBondOutRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondRepos">
      <soap12:operation soapAction="http://ssi.com.vn/GetBondRepos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBondStockList">
      <soap12:operation soapAction="http://ssi.com.vn/GetBondStockList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AjaxWebService">
    <wsdl:port name="AjaxWebServiceSoap" binding="tns:AjaxWebServiceSoap">
      <soap:address location="http://banggia.ssi.com.vn/AjaxWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AjaxWebServiceSoap12" binding="tns:AjaxWebServiceSoap12">
      <soap12:address location="http://banggia.ssi.com.vn/AjaxWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>