trunk/main/wsAccess/Service References/dataService/baseDS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="baseDS.stockCodeDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="baseDS.stockCodeDataTable" Namespace="http://schemas.datacontract.org/2004/07/data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/masterDataSet.xsd" name="namespace" />
      <xs:attribute fixed="stockCodeDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
</xs:schema>